.countries {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;  

    .form-search {
        position: relative;

        svg {
            position: absolute;
            color: #999;
            top: .7rem;
            left: .8rem;
        }
        .search-input {
            // max-width: 12rem;
            max-width: 18rem;

            @media screen and (max-width: 800px) {
                width: 15rem;
            }

            color: #555;
            padding: .5rem 1rem;
            font-size: 1rem;
            font-weight: 500;
            background-color: #E8E8E8;
            border: none;
            border-radius: 3px;
            padding-left: 2.3rem;
        }
    }
}