header {
    background-color: #C6DDE1;
    border-bottom: 2px solid #aad5dc;
    .container {
        height: 6rem;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    @media screen and (max-width: 768px) {
        .container {
            height: 5rem;
        }
    }

    .title {
        flex-grow: 1;
    
        h1 {
            font-size: 1.4rem;
            color: #335E65;
            font-weight: bold;
            display: flex;
            align-items: center;
    
            span {
                margin-left: 6px;
            }
            
            svg {
                fill: #335E65;
                display: inline-block;
                width: 2em;
                height: 2em;
            }
        }   
    }
    
    .icons {
        a {
            font-size: 1.4rem;
            color: #335E65;

            &:hover {
                color: rgb(69, 120, 128);
            }
        }
    }
}